.emojis{
  border-radius: 100%;
}

// .emojis:hover{
//   width: 35px;
//   height: 35px;
// }

// .g-emojis:hover{
//   width: 35px;
//   height: 35px;
// }

// .g-emojis{
//   text{
//     display: none;
//   }
//
//   &:hover{
//     width: 35px;
//     height: 35px;
//   }
// }

svg.chord{
  height: 100%;
  width: 100%
}
