$rausch: hsl(357,88,66);
$hackberry: hsl(321,100,24);
$kazan: teal;
$babu: hsl(175,99,41);
$lima: hsl(110,57,75);
$ebisu: hsl(13,100,78);
$sand: hsl(50,32,56);
$foggy: hsl(102,3,61);
$hoff: hsl(205,3,35);
